<div>
  <h2 id="page-heading" data-cy="ArticleHeading">
    <span jhiTranslate="gestionSApp.article.home.title">Articles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gestionSApp.article.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-article"
        [routerLink]="['/article/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gestionSApp.article.home.createLabel"> Create a new Article </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="articles?.length === 0">
    <span jhiTranslate="gestionSApp.article.home.notFound">No articles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="articles && articles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead class="text-basic">
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="codeArticle">
            <span jhiTranslate="gestionSApp.article.codeArticle">Code Article</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="designation">
            <span jhiTranslate="gestionSApp.article.designation">Designation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prixUnitaireHT">
            <span jhiTranslate="gestionSApp.article.prixUnitaireHT">Prix Unitaire HT</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prixUnitaireTtc">
            <span jhiTranslate="gestionSApp.article.prixUnitaireTtc">Prix Unitaire Ttc</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tauxTva">
            <span jhiTranslate="gestionSApp.article.tauxTva">Taux Tva</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="photo"><span jhiTranslate="gestionSApp.article.photo">Photo</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="entreprise.id">
            <span jhiTranslate="gestionSApp.article.entreprise">Entreprise</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ligneCommandeClient.id">
            <span jhiTranslate="gestionSApp.article.ligneCommandeClient">Ligne Commande Client</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ligneCommandeFournisseur.id">
            <span jhiTranslate="gestionSApp.article.ligneCommandeFournisseur">Ligne Commande Fournisseur</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ligneVente.id">
            <span jhiTranslate="gestionSApp.article.ligneVente">Ligne Vente</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="categorie.id">
            <span jhiTranslate="gestionSApp.article.categorie">Categorie</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="text-basic">
        <tr *ngFor="let article of articles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/article', article.id, 'view']">{{ article.id }}</a>
          </td>
          <td>{{ article.codeArticle }}</td>
          <td>{{ article.designation }}</td>
          <td>{{ article.prixUnitaireHT }}</td>
          <td>{{ article.prixUnitaireTtc }}</td>
          <td>{{ article.tauxTva }}</td>
          <td>
            <a *ngIf="article.photo" (click)="openFile(article.photo, article.photoContentType)">
              <img [src]="'data:' + article.photoContentType + ';base64,' + article.photo" style="max-height: 30px" alt="article image" />
            </a>
            <span *ngIf="article.photo">{{ article.photoContentType }}, {{ byteSize(article.photo) }}</span>
          </td>
          <td>
            <div *ngIf="article.entreprise">
              <a [routerLink]="['/entreprise', article.entreprise?.id, 'view']">{{ article.entreprise?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="article.ligneCommandeClient">
              <a [routerLink]="['/ligne-commande-client', article.ligneCommandeClient?.id, 'view']">{{
                article.ligneCommandeClient?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="article.ligneCommandeFournisseur">
              <a [routerLink]="['/ligne-commande-fournisseur', article.ligneCommandeFournisseur?.id, 'view']">{{
                article.ligneCommandeFournisseur?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="article.ligneVente">
              <a [routerLink]="['/ligne-vente', article.ligneVente?.id, 'view']">{{ article.ligneVente?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="article.categorie">
              <a [routerLink]="['/categorie', article.categorie?.id, 'view']">{{ article.categorie?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/article', article.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/article', article.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(article)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="articles && articles.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
