<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-mvt-stk-heading" data-cy="MvtStkCreateUpdateHeading" jhiTranslate="gestionSApp.mvtStk.home.createOrEditLabel">
        Create or edit a Mvt Stk
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gestionSApp.mvtStk.dateMvt" for="field_dateMvt">Date Mvt</label>
          <div class="d-flex">
            <input
              id="field_dateMvt"
              data-cy="dateMvt"
              type="datetime-local"
              class="form-control"
              name="dateMvt"
              formControlName="dateMvt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gestionSApp.mvtStk.quantite" for="field_quantite">Quantite</label>
          <input type="number" class="form-control" name="quantite" id="field_quantite" data-cy="quantite" formControlName="quantite" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gestionSApp.mvtStk.typeMvtStk" for="field_typeMvtStk">Type Mvt Stk</label>
          <select class="form-control" name="typeMvtStk" formControlName="typeMvtStk" id="field_typeMvtStk" data-cy="typeMvtStk">
            <option [ngValue]="null">{{ 'gestionSApp.TypeMvtStk.null' | translate }}</option>
            <option value="ENTREE">{{ 'gestionSApp.TypeMvtStk.ENTREE' | translate }}</option>
            <option value="SORTIE">{{ 'gestionSApp.TypeMvtStk.SORTIE' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gestionSApp.mvtStk.entreprise" for="field_entreprise">Entreprise</label>
          <select class="form-control" id="field_entreprise" data-cy="entreprise" name="entreprise" formControlName="entreprise">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="articleOption.id === editForm.get('entreprise')!.value?.id ? editForm.get('entreprise')!.value : articleOption"
              *ngFor="let articleOption of articlesSharedCollection; trackBy: trackArticleById"
            >
              {{ articleOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
