<div>
  <h2 id="page-heading" data-cy="FournisseurHeading">
    <span jhiTranslate="gestionSApp.fournisseur.home.title">Fournisseurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gestionSApp.fournisseur.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fournisseur"
        [routerLink]="['/fournisseur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gestionSApp.fournisseur.home.createLabel"> Create a new Fournisseur </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="fournisseurs?.length === 0">
    <span jhiTranslate="gestionSApp.fournisseur.home.notFound">No fournisseurs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="fournisseurs && fournisseurs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead class="text-basic">
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nom"><span jhiTranslate="gestionSApp.fournisseur.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prenom">
            <span jhiTranslate="gestionSApp.fournisseur.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mail">
            <span jhiTranslate="gestionSApp.fournisseur.mail">Mail</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="numTel">
            <span jhiTranslate="gestionSApp.fournisseur.numTel">Num Tel</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="photo">
            <span jhiTranslate="gestionSApp.fournisseur.photo">Photo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="adresse.id">
            <span jhiTranslate="gestionSApp.fournisseur.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="text-basic">
        <tr *ngFor="let fournisseur of fournisseurs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/fournisseur', fournisseur.id, 'view']">{{ fournisseur.id }}</a>
          </td>
          <td>{{ fournisseur.nom }}</td>
          <td>{{ fournisseur.prenom }}</td>
          <td>{{ fournisseur.mail }}</td>
          <td>{{ fournisseur.numTel }}</td>
          <td>
            <a *ngIf="fournisseur.photo" (click)="openFile(fournisseur.photo, fournisseur.photoContentType)">
              <img
                [src]="'data:' + fournisseur.photoContentType + ';base64,' + fournisseur.photo"
                style="max-height: 30px"
                alt="fournisseur image"
              />
            </a>
            <span *ngIf="fournisseur.photo">{{ fournisseur.photoContentType }}, {{ byteSize(fournisseur.photo) }}</span>
          </td>
          <td>
            <div *ngIf="fournisseur.adresse">
              <a [routerLink]="['/adresse', fournisseur.adresse?.id, 'view']">{{ fournisseur.adresse?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/fournisseur', fournisseur.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/fournisseur', fournisseur.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(fournisseur)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="fournisseurs && fournisseurs.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
